*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.model{
    display: none;
}

html{
    width: 100vw;
    height: 100vh;
   overflow: hidden;
    background-color: #000;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: auto;
    width: 1000px;
    background: linear-gradient(90deg, #000 0%, #3002ff 46%,#000 100%);
}

.btn{
    display: flex;
    padding: 10px;
    border: 1px solid #190c52;
    border-radius: 10%;
    background-color: #140979;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 5px 5px 15px #000;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.videoPlayer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: auto;
}

video{
    display: flex;
    background: linear-gradient(90deg, #000 0%, #3002ff 46%,#000 100%);
}

footer{
    margin-top: 50px;
    display: flex;
    color: #fff;
    padding: 10px;
    font-size: 18px;

}